.agenda {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    overflow: hidden;
    @media screen and (max-width: 400px){
        max-width: 100%;
        display: flex;
        overflow: hidden;
        margin-bottom: 20px;
        background-color: purple;
    }
    div{
        @media screen and (max-width: 400px){
            display: inline-flex;
            overflow: hidden;
        }
        a{
            img{
                @media screen and (max-width: 400px){
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    place-items: center;
                    overflow: hidden;
                }
            }
        }
    }
    img{
    }
    .aumentarDiv{
        margin: 0;
    }
}
