.bannerColorido {
    width: 100%;
    overflow: hidden;
    div{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        place-items: center;
        @media screen and (max-width: 400px){
            width: 100%;
            display: grid;
            grid-template-columns: 1fr; 
            margin-top: 100px; 
        }
        img{
            width: 100%;
        }
    }
}