footer{
    max-width: 100%;
    overflow: hidden;
    background: black;
    .footerGrid{
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        .patrocinadores{
            max-width: 100%;
            margin-top: 60px;
            overflow: hidden;
            @media screen and (max-width: 720px){
                padding: 40px;
                margin-top: 0px;
            }
            @media screen and (max-width: 400px){
                width: 80%; 
                margin-bottom: 40px;
            }
            img {
                width: 100%;
            }
        }
        .endPraia {
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 13px;
            font-weight: lighter;
            padding: 16px;
        }
        .sociaisFooter{
            a{
                padding: 18px;
                @media screen and (max-width: 400px){
                    width: 50%; 
                }
            }
        }
        .listaFooter{
            margin: 40px;
            max-width: 100%;
            ul{
                display: flex;
                flex-wrap: wrap;
                gap: 50px;
                overflow: hidden;
                @media screen and (max-width: 720px){
                    gap: 24px;
                    justify-content: center;
                }
                @media screen and (max-width: 400px){
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr; 
                    margin-top: 50px; 
                    gap: 20px;
                    overflow: hidden;
                }
                a{
                    text-decoration: none;
                    gap: 100px;
                    @media screen and (max-width: 400px){
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                    }
                    li{
                        font-family: "Poppins", sans-serif;
                        color: #a1a1a1;
                        font-size: 14px;
                        font-weight: lighter;
                        display: inline;
                    }
                }
            }
        }
    }
    p{
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: lighter;
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;
    }
}

/*
@media screen and (max-width: 400px){
    display: grid;
    grid-template-columns: 100%;
}
*/