
.tituloNovidades {
    h3{
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 54px;
        background-color: #181418;
        width: 60%;
        margin-left: 140px;
        @media screen and (max-width: 520px){
            font-size: 32px;
            margin-left: 10px;
        }
    }
}

.bannerNewsletter{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    margin-bottom: 120px;
    margin-top: 120px;
    background-color: #181418;
    @media screen and (max-width: 400px){
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
    .app{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 40px;
        background-color: #ED1C24;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 520px){
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 5px;
        }
        
        .txtInstala{
            width: 300px;
            margin-left: 20px;
            margin-top: 60px;
            @media screen and (max-width: 720px){
                margin: 20px 0 20px 20px;
                width: 150px;
                
            } 
            @media screen and (max-width: 520px){
                margin: 20px 0 20px 20px;
                width: 150px;
            }
            h4{
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 39px;
            @media screen and (max-width: 520px){
                font-size: 24px;
            }
            }
            .bold{
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 39px;
            font-weight: bold;
            @media screen and (max-width: 520px){
                font-size: 24px;
            }
            } 
        }
        .buttonStore {
            margin-left: 0px;
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            height: 150px;
            @media screen and (max-width: 720px){
                margin: 60px 0 20px 0px;
                
            } 
            @media screen and (max-width: 520px){
                margin: 40px 0 0 10px;
            }
        }
        img{
            margin-top: -80px;
            @media screen and (max-width: 520px){
                margin-top: -40px;
            }
        }
        .iphone{
            @media screen and (max-width: 720px){
                margin-top: 200px;
            }
        }
        .iphoneMenor{
            display: none;
            @media screen and (max-width: 520px){
                display: block;
            }
        }
        .iphone{
            @media screen and (max-width: 520px){
                display: none;
            }
        }

    }
    .newsletter{
        background-color: #A92227;
        height: 100%;
        width: 100%;
        .bold{
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 39px;
            font-weight: bold;
            margin-left: 120px;
            margin-top: 60px;
            width: 300px;
            @media screen and (max-width: 720px){
                margin-left: 30px;
                
            } 
            @media screen and (max-width: 520px){
                margin: 60px 0 0 45px;
                font-size: 24px;
                width: 100%;
            }
        } 
        form{
            .email{
                width: 440px;
                height: 47px;
                border-radius: 41px;
                border-style: none;
                font-family: "Poppins", sans-serif;
                margin: 60px 0 0 120px;
                padding-left: 40px;
                @media screen and (max-width: 720px){
                    width: 300px;
                    margin: 40px 10px 0 30px;
                    
                } 
                @media screen and (max-width: 520px){
                    width: 300px;
                    margin: 40px 10px 0 30px;
                    
                } 
            }
            .condicoes{
                display: flex;
                gap: 20px;
                margin: 40px 0 0 120px;
                align-items: center;
                @media screen and (max-width: 520px){
                    margin-left: 40px;
                }
                h6{
                    font-size: 14px;
                    color: white;
                    font-family: "Poppins", sans-serif;
                }
            }
        }
        .buttonSubs{
            display: grid;
            place-items: center;
            width: 160px;
            height: 47px;
            border-radius: 41px;
            border-style: none;
            background-color: black;
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            text-decoration: none;
            margin: 80px 40px 40px 450px ;
            @media screen and (max-width: 720px){
                margin-left: 120px;
                
            } 
            @media screen and (max-width: 520px){
                margin-left: 120px;
            }
            a{
                color: white;
                text-decoration: none;
                display: grid;
                place-items: center;
            }
        }
        .buttonSubs:hover {
            background-color: rgba(0, 0, 0, 0.267);
        }
    }
    
}

